h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

.banner {
    height: 100vh;
    background: url(../img/PrimaryBg.jpg) no-repeat center/cover;
    text-align: center;
    padding: 22px;
    max-width: 1920px;
    max-height: 800px;
}

.banner__logo img {
    display: block;
    margin: 0 auto;
}

.banner__logo-text {
    color: white;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

.banner__title {
    margin-top: 52px;
}

.banner__title,
.banner__subtitle {
    color: #F98F30;
    text-transform: uppercase;
    font-size: 41px;
    font-weight: bold;
}

.banner__simple {
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.banner__description {
    color: white;
    width: 1140px;
    font-weight: 500;
    font-size: 21px;
    margin: 20px auto 0;
}

.banner__description-highlight {
    color: #F98F30;
    text-transform: uppercase;
    font-weight: bold;
}

.banner__button {
    width: 315px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    background: linear-gradient(#e66465, #F98F30);
    border: none;
    border-radius: 4px;
    color: white;
    text-shadow: -1px, -1px;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
}

.banner__more {
    margin-top: 75px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.banner__more img {
    margin: 10px auto 0;
}

.seminar-benefits {
    height: 100vh;
    background: #EFEFEF center/cover no-repeat;
    text-align: center;
    padding: 22px;
    max-width: 1922px;
    max-height: 592px;
}

.seminar__titles {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

.line {
    padding: 20px;
    width: 220px;
    margin: 0 auto;
}

.line__inner-orange {
    width: 220px;
    height: 4px;
    background-color: #F9BF3B;
    border-radius: 2px;
}

.seminar__info {
    font-size: 23px;
    font-weight: 600;
    color: #4A4A4A;
}

.seminar__blocks {
    padding-top: 40px;
    gap: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.seminar__icon-text {
    font-size: 16px;
    padding-top: 20px;
    font-weight: 300;
    color: #4A4A4A;
    width: 360px;
    height: 76px;
}

.audio__info {
    height: 100vh;
    padding: 22px;
    max-width: 1920px;
    max-height: 564px;
    background-color: #0F0B0B;
}

.info__content {
    display: flex;
    gap: 40px;
    flex-flow: column;
    position: relative;
    height: 500px;
}

.info__text {
    width: 800px;
    height: 272px;
    position: absolute;
    top: 57px;
    left: 685px;
    z-index: 2;
    align-self: flex-end;
    text-align: end;
}

.info__title {
    color: #F9BF3B;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.2;
}

.info__description {
    color: white;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px;
}

.info__description-bold {
    color: white;
    font-weight: bold;
}

.info__image {
    position: absolute;
    top: 150px;
    left: 220px;
    align-self: flex-start;
    z-index: 1;
}

.info__image img {
    display: block;
    width: 615px;
    height: 351px;
    border-radius: 8px;
}

.skills-gained {
    max-width: 1920px;
    height: 450px;
    text-align: center;
    background: url(../img/SecondaryBg.jpg) center/cover no-repeat;
}

.skills-gained__title {
    padding-top: 80px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

.skills-gained__container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 40px;
}

.skills-gained__items {
    width: 230px;
    height: 173px;
    display: flex;
    gap: 15px;
    flex-flow: column;
}

.skills-gained__items-image {
    max-width: 240px;
    min-height: 120px;
    background: url(../img/Round.png) no-repeat;
    background-position: center;
}

.skills-gained__items-image img {
    width: 60px;
    height: 60px;
    margin: 30px auto;
}

.skills-gained__items-text {
    color: #EFEFEF;
    font-size: 16px;
    font-weight: 200;
}

.bonus-for-visitor {
    max-width: 1920px;
    height: 613px;
    padding: 20px;
    text-align: center;
    background-color: #EFEFEF;
}

.bonus-for-visitor img {
    max-width: 155px;
    max-height: 210px;
    padding-top: 60px;
    margin: 0 auto;
}

.bonus-for-visitor__description {
    color: #252525;
    padding-top: 70px;
    max-width: 1200px;
    max-height: 91px;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
}

.bonus-for-visitor__button {
    width: 315px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    background: linear-gradient(#e66465, #F98F30);
    border: none;
    border-radius: 4px;
    color: white;
    text-shadow: -1px, -1px;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
}

.webinar-details {
    background-color: #0F0B0B;
    max-width: 1920px;
    height: 600px;
    text-align: center;
    padding: 40px;
}

.webinar-details img {
    max-width: 550px;
    max-height: 300px;
    margin: 0 auto;
}

.webinar-details__title {
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 30px;
}

.webinar-details__description {
    color: #F9BF3B;
    font-size: 36px;
    font-weight: 700;
    padding-top: 20px;
    text-transform: uppercase;
}

.webinar-details__condition {
    color: white;
    margin: 0 auto;
    padding-top: 10px;
    font-weight: 500;
    font-size: 23px;
}

.contact-info {
    background-color: #1A1A1A;
    text-align: center;
    padding: 20px;
    max-width: 1920px;
    max-height: 165px;
}

.contact-info__description {
    color: #888888;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}