@use "@/sass/base/mixins.scss" as *;
@use "@/sass/base/variables.scss" as *;

.blogs {
  max-width: 1920px;
  padding-bottom: 40px;

  h1 {
    @include title;

    font-size: 40px;
    font-weight: 500;

    text-transform: uppercase;

    padding-bottom: 70px;
  }

  &__container {
    max-width: 1440px;
    min-height: 200px;

    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;

    gap: 30px;

    padding: 25px;

    background:
      linear-gradient(to right, $dark 0%, $dark 20%, transparent 20%) top / 100% 1px no-repeat,
      linear-gradient(to bottom, $dark 0%, $dark 20%, transparent 20%) left / 1px 100% no-repeat;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    border: 1px solid $dark;
    box-shadow: 0 5px 10px gray;

    padding: 20px 10px 20px 30px;
    gap: 15px;

    width: 550px;
  }

  &__image {
    width: 290px;
    height: auto;
    order: 1;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    order: 2;
    margin: 0;
  }

  &__button {
    @include button;

    width: 145px;
    height: 32px;
    order: 3;
  }

  &__text {
    font-size: 16px;
    order: 4;
    margin-top: 15px;
  }
}

@media (max-width: 1200px) {
  .blogs {
    max-width: 1200px;

    &__container {
      max-width: 1140px;
    }

    &__card {
      width: 510px;
    }

    &__image {
      width: 280px;
    }
  }
}

@media (max-width: 768px) {
  .blogs {
    max-width: 768px;

    h1 {
      font-size: 36px;
    }

    &__container {
      max-width: 695px;
    }

    &__card {
      width: 100%;
      padding: 20px;
    }

    &__image {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 360px) {
  .blogs {
    max-width: 360;

    h1 {
      font-size: 32px;
    }

    &__container {
      max-width: 340px;

      padding: 0;
      background: none;
    }

    &__card {
      gap: 30px;
      padding-bottom: 30px;
      width: 340px;
    }

    &__image {
      width: 340px;
      height: 240px;
    }

    &__title {
      padding: 0 20px 0 20px;
    }

    &__button {
      margin: 0 20px 0 20px;
    }

    &__text {
      padding: 0 20px 0 20px;
    }
  }
}