@use "@/sass/base/mixins.scss" as *;
@use "@/sass/base/variables.scss" as *;

.brand-intro {
  width: 100%;
  max-width: 1920px;

  padding-bottom: 100px;

  &__title {
    @include title;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
  }

  &__container {
    padding-left: 10px;
    margin: 0 auto;
    max-width: 1440px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;

    &__title {
      font-size: 24px;
      font-weight: 500;

      text-transform: uppercase;
    }

    &__text {
      font-size: 20px;
      font-weight: 400;

      width: 100%;
      max-width: 560px;

      span {
        color: $ceramic;
      }
    }
  }
}

@media (max-width: 1200px) {
  .brand-intro {
    &__container {
      max-width: 1140px;

      &__text {
        max-width: 556px;
      }
    }
  }
}

@media (max-width: 768px) {
  .brand-intro {
    &__container {
      max-width: 530px;

      padding-top: 40px;

      gap: 30px;
    }
  }
}

@media (max-width: 360px) {
  .brand-intro {
    padding: 60px 10px 0px;

    &__title {
      font-size: 32px;
    }

    &__container {
      max-width: 340px;

      padding-top: 20px;
      padding-bottom: 70px;

      gap: 30px;

      &__title {
        font-size: 20px;
      }

      &__text {
        font-size: 16px;
      }
    }
  }
}