@use "@/sass/base/variables.scss" as *;

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 40px;

  &__logo {
    width: 150px;
    height: auto;

    margin-left: 225px;
  }

  &__icons {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    a {
      display: block;
      color: $dark;

      span {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.navigation {
  width: 100%;
  max-width: 1000px;
  padding-top: 30px;

  &__list {
    margin-left: 135px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    gap: 60px;
    padding: 0;

    a {
      font-size: 20px;
      text-decoration: none;
      color: inherit;
    }
  }
}

.burger {
  display: none;
}

.navigation__close {
  display: none;
}

.navigation.active .navigation__close {
  display: block;
}

@media (max-width: 1200px) {
  .header {
    &__logo {
      width: 100px;

      margin-left: 100px;
    }
  }

  .navigation {
    max-width: 700px;
    margin: 0;

    &__list {
      margin-left: 20px;

      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__logo {
      margin-left: 250px;
    }
  }

  .navigation {
    max-width: 649px;

    &__list {
      justify-content: center;
      margin-right: 80px;
      gap: 30px;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 360px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;

    &__logo {
      margin-left: 0;
    }
  }

  .burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;

    span {
      display: block;
      width: 20px;
      height: 1px;
      background-color: $dark;
    }
  }

  .navigation {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: $light;
    padding: 30px 20px 20px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__close {
      position: block;

      width: 30px;
      height: 30px;

      border: 0;
      border-radius: 50%;

      background: $light;
      color: $dark;

      font-size: 30px;
      line-height: 1;
      cursor: pointer;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding-top: 40px;
      padding-left: 20px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    &__link {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}
