.header {
  width: 100%;
  display: flex;
  justify-content: center;

  position: relative;
  z-index: 500;

  transition: margin-top 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.search-mode .header {
  margin-top: 30vh;
}

.results-mode .header {
  margin-top: 80px;
  margin-bottom: 20px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1000px;
  height: 60px;
  padding: 0 1rem;
  gap: 15px;
}

.header__location {
  flex-shrink: 0;
}

.header__search {
  flex: 1;
  max-width: 500px;
  margin: 0 1rem;
  position: relative;
  z-index: 100;
}

.search-container {
  position: relative;
  width: 100%;
}

.header__submit {
  flex-shrink: 0;
}
