.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 100%;
  color: var(--text-main);
  background-color: var(--bg-surface);
  box-shadow: var(--shadow-md);

  font-size: 16px;

  padding: 12px 20px;

  border: 1px solid var(--border-color);
  border-radius: var(--radius-full);
  outline: none;

  transition: all var(--transition-normal);
}

.search-input:focus {
  border-color: var(--primary-color);
  box-shadow: var(--shadow-focus);
}

.search-input::placeholder {
  color: var(--text-light);
}
