.search-submit-btn {
  padding: 10px 24px;

  background-color: var(--primary-color);
  color: white;

  box-shadow: var(--shadow-md);
  border: none;
  border-radius: var(--radius-full);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition:
    background-color var(--transition-normal),
    transform 0.1s;
}

.search-submit-btn:hover {
  background-color: var(--secondary-color);
}

.search-submit-btn:active {
  transform: scale(0.98);
}

html.inverted-theme .search-submit-btn:hover {
  filter: invert(100%);
}
