.lang-switch {
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;

  user-select: none;

  padding: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.lang-switch span {
  color: var(--text-light);

  transition: color var(--transition-normal);
}

.lang-switch span.active {
  color: var(--text-main);
}

.lang-switch:hover span.active {
  opacity: 0.8;
}

.unit-switch {
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  user-select: none;

  padding: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.unit-switch span {
  color: var(--text-light);
  transition: color var(--transition-normal);
}

.unit-switch span.active {
  color: var(--text-main);
}

.unit-switch .separator {
  color: var(--text-light);
  margin: 0 2px;
}

.unit-switch:hover span.active {
  opacity: 0.8;
}
