@use "@/sass/base/variables.scss" as *;

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes press-in {
  to {
    transform: scale(0.96);
    background: $light;
    color: $dark;
  }
}
