@use "@/sass/base/variables.scss" as *;

@mixin title {
  color: $dark;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

@mixin button {
  display: block;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $dark;
  text-align: center;
  color: $dark;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  transition:
    transform 180ms cubic-bezier(0.2, 0.8, 0.2, 1),
    background-color 180ms cubic-bezier(0.2, 0.8, 0.2, 1),
    color 180ms cubic-bezier(0.2, 0.8, 0.2, 1);

  &:hover,
  &:focus-visible {
    background: $dark;
    color: $light;
    outline: none;
  }

  &:active {
    color: $ui-active;
    box-shadow: inset 0 0 12px 4px $ui-active;

    animation-name: press-in;
    animation-duration: 160ms;
    animation-timing-function: cubic-bezier(0.34, 0.97, 0.62, 1.08);
    animation-fill-mode: forwards;
  }
}

@mixin input {
  border: 1px solid $ui-disabled;
  border-radius: 2px;

  &::placeholder {
    color: $ui-disabled;
    font-weight: 400px;
  }

  &:hover,
  &:focus-visible {
    border-color: $dark;
    outline: none;
  }

  &.is-invalid {
    border-color: $ui-error;
    box-shadow: 0 0 0 3px rgba(229, 57, 53, 0.12);
  }
}
