@use "@/sass/libs/modern-normalize.min.css";
@use "@/sass/libs/fontello.css";
@use "@/sass/base/basic.scss";

@use "@/sass/blocks/promo.scss";
@use "@/sass/blocks/products.scss";
@use "@/sass/blocks/header.scss";
@use "@/sass/blocks/header-other.scss";
@use "@/sass/blocks/footer.scss";
@use "@/sass/blocks/catalog.scss";
@use "@/sass/blocks/loading.scss";
