@use "@/sass/libs/modern-normalize.min.css";
@use "@/sass/libs/fontello.css";
@use "@/sass/base/basic.scss";

@use "@/sass/blocks/promo.scss";
@use "@/sass/blocks/header.scss";
@use "@/sass/blocks/header-other.scss";
@use "@/sass/blocks/brand-intro.scss";
@use "@/sass/blocks/brand-intro-about.scss";
@use "@/sass/blocks/form.scss";
@use "@/sass/blocks/footer.scss";
@use "@/sass/blocks/map.scss";
